#(project (#(meta (#(name nube)
                   #(description "LFE wrapper for the erlcloud library.")
                   #(version "0.0.1")
                   #(keywords ("LFE" "Lisp" "Library" "Utility" "Cloud" "AWS" "Wrapper"))
                   #(author (#(name "Ricardo Lanziano") #(email "arpunk@cryptolab.net")))
                   #(collaborators '(#(name "Ricardo Lanziano") #(email "arpunk@cryptolab.net")))
                   #(repos (#(github "arpunk/nube")))))
           #(deps (#("rvirding/lfe" "develop")))))
